@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-baize: linear-gradient(118deg, #057445 -3.52%, #008B51 46.48%, #004629 105.21%);
    --blue-baize: linear-gradient(118deg, #053F74 -3.52%, #00488B 46.48%, #002446 105.21%);
    font-family: "Roboto Slab", sans-serif
}

html {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

@font-face {
    font-family: "Alsina";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Alsina_Ultrajada.ttf");
}

